{% extends 'questionnaire/template/base.html' %}
{% load static %}
{#{% block header %}{% endblock %}#}
{% block content %}
    <title>Создать опрос - YourQuestionnaire</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">

    <form class="decor" method="post" action="{% url 'create_poll' %}">
        <div class="form-left-decoration"></div>
        <div class="form-right-decoration"></div>
        <div class="circle"></div>
        <div class="form-inner">
            <h3>Создать опрос</h3>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Создать">
        </div>
    </form>

    </div>
{% endblock %}