{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Твой опросник</title>
	<link rel="stylesheet" href="{% static 'Course/css/style.css' %}">
	<link rel="shortcut icon" href="{% static 'Course/assets/favicon.ico' %}" type="image/x-icon">
</head>
<style>
    html,
    body {
        max-width: 100%;
        /* overflow-x: hidden; */
    }
</style>

<body onclick="closeAll()">
	{% include 'template/header.html' %}

<section class="scheduleSection">
    <h2><span>Твой</span> опросник</h2>

    <div class="box">
        <div class="imageBox">
            <img src="{% static 'Course/assets/6.png' %}" alt="">
            <img src="{% static 'Course/assets/7.png' %}" alt="">
        </div>

        <div class="contentBox">
            <div class="top">
                <h3>Как создать опрос</h3>
                <p>Составить интересную анкету, заполнить которую будет не в тягость, а в радость, довольно просто.
                    Но нужно знать несколько основных правил:</p>
            </div>

            <div class="stepline">
                <div class="line"></div>

                <div class="step">
                    <div>1</div>
                    <p>Определитесь с целью анкеты. Сфокусируйтесь на одной конкретной цели. Так вы сможете собрать
                        релевантную информацию и не запутать пользователя.</p>
                </div>
                <div class="step">
                    <div>2</div>
                    <p>Поймите, какую информацию собирать. Как только станет понятна цель, выберете, какие именно
                        данные и в каком формате собирать.</p>
                </div>
                <div class="step">
                    <div>3</div>
                    <p>Будьте объективны. Убедитесь, что задаёте только прямые вопросы, избегая наводящих
                        конструкций. Некоторые слова — такие, как «запретить» могут повлиять на результат вопроса. К
                        примеру, вопрос «Мы получаем множество положительных отзывов от наших счастливых клиентов.
                        Как вы считаете, на сколько хорош наш сервис?» — пример того, как вопрос подталкивает
                        отвечающего быть более благосклонным к вашей компании. Попробуйте попросить «Оцените
                        удобство нашего сервиса по 5-балльной шкале» и предложите эту шкалу. И ещё. Не позволяйте
                        себе строить догадки и включать их в вопросы.</p>
                </div>
                <div class="step">
                    <div>4</div>
                    <p>Следите за порядком вопросов. Логичная последовательность вопросов важна, как для вас, так и
                        для проходящего опрос. Самый оптимальный вариант — «от общего к частному».</p>
                </div>
                <div class="step">
                    <div>5</div>
                    <p>Избегайте двойных вопросов. Один блок — один вопрос. Иначе вы получите искажённую информацию.
                    </p>
                </div>
                <div class="step">
                    <div>6</div>
                    <p>Пишите простым языком. В опросниках не стоит использовать жаргон и сложные обороты. Сделайте
                        свою анкету простой и понятной и тогда каждый респондент наверняка дойдёт до финального
                        вопроса.</p>
                </div>
                <div class="step">
                    <div>7</div>
                    <p>Протестируйте опросник. Пришлите готовую анкету друзьям и коллегам, чтобы ещё раз проверить
                        логику опроса и разглядеть возможные ошибки.</p>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
        <button class="quizButton" onclick="document.location=`{% url 'create_poll' %}`">Создать опрос</button>
    {% endif %}
</section>

{% include 'template/footer.html' %}
</body>

</html>