{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Авторизация - CourseMC</title>
	<link rel="stylesheet" href="{% static 'Course/css/style.css' %}">
	<link rel="shortcut icon" href="{% static 'Course/assets/favicon.ico' %}" type="image/x-icon">
	
</head>
<body class="flex p-0 login">
	{% include 'template/header.html' %}
	{% block content %}

   <!-- block content login -->

  {% endblock %}
	{% include 'template/footer.html' %}
</body>
</html>