<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание сертификата</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<p class="text-center h1 mt-4">Создание сертификата</p>
<p class="text-center h4 mt-2">{{ msg }}</p>
<div class="row mt-5">
    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="pet-select">Выберите ученика:</label>

                <select name="name" id="pet-select" class="form-control">
                    {% for student in students %}
                        <option value="{{ student.name }}">{{ student.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Имя и фамилия: </label>
                <input type="text" class="form-control"
                       placeholder="Артем Чернышев..." name="fio">
            </div>
            <button type="submit" class="btn btn-primary">Создать</button>
        </form>
    </div>

</div>
</body>
</html>