{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Твой Интерпретатор</title>
	
	<link rel="shortcut icon" href="{% static 'Course/assets/favicon.ico' %}" type="image/x-icon">


    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css"/>
    

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"> -->
    
		<link rel="stylesheet" href="{% static 'Course/css/style.css' %}">
</head>
<body class="flex" style="margin: 0px; padding: 0px; max-width: 100%; overflow-x: hidden;">
{% include 'template/header.html' %}
{% include 'template/flash_message.html' %}

<style type="text/css">
    .kaesevua {
        width: 100%;
        height: 40px;
        margin-bottom: 15px;
        position: relative;
    }

    .sicinga_pesamila {
        background-color: #15181f;
    }

    #nasukaola {
        background-color: #ffffff;
    }
</style>
<div class="section row" style="max-width: 100%; width: 100%;">
    <div class="col-xs-2 col-md-2 col-lg-1">
    </div>
    <div class="col-xs-10 col-md-10 col-lg-10" style="background-color: #fff;padding-bottom: 15px;" id="root">
        <!-- <label title="Светлая тема" id="theme" onclick="changeTheme()" style="padding-top: 5px;">
            <i class="bi bi-lightbulb" id="theme_i"></i>
        </label> -->
        <py-repl auto-generate="true">
def main():
    print('Hello World!')

if __name__ == '__main__':
    main()
        </py-repl>
    </div>
    <div class="col-xs-2 col-md-2 col-lg-2"></div>
</div>
<script>
    // function changeTheme(){
    //     theme = document.getElementById('theme');
    //     el = document.getElementById('theme_i');
    //     if (el.classList == 'bi bi-lightbulb') {
    //         el.classList = 'bi bi-lightbulb-off'
    //         document.getElementsByTagName('body')[0].classList.toggle("sicinga_pesamila");
    //         document.getElementById('root').style.backgroundColor = '#DCDCDC'
    //     } else{
    //         el.classList = 'bi bi-lightbulb'
    //         document.getElementsByTagName('body')[0].classList.remove("sicinga_pesamila")
    //         document.getElementById('root').style.backgroundColor = '#fff'
    //     }
    // }
    
    $(document).on('keydown', function (event) {
    if (event.keyCode == 9) {   //tab pressed
        event.preventDefault(); // stops its action
        document.execCommand('insertHTML', false, '    ');
    }
    });
</script>
{% include 'template/footer.html' %}
<script src="https://pyscript.net/alpha/pyscript.js"></script>
</body>
</html>