{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Создание статьи - CourseMC</title>
	<link rel="stylesheet" href="{% static 'Course/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'Course/css/style.css' %}?v=20260812-5">
	<link rel="stylesheet" href="{% static 'css/post_form.css' %}?v=20260814-1">
	<link rel="shortcut icon" href="{% static 'Course/assets/favicon.ico' %}" type="image/x-icon">
</head>
<body class="flex post-create-page">


{% include 'template/header.html' %}

<section class="section post-create">
	<div class="post-create__heading">
	    <h1>Создать статью</h1>
	    <p>После создания статью проверит администратор</p>
	</div>

	<div class="post-create__container">
	    <form method="post" enctype="multipart/form-data" class="post-create__form">
	        {% csrf_token %}
	        {{ form.media }}

	        {% for field in form %}
	            <div class="post-create__field{% if field.name == 'content' %} post-create__field--editor{% endif %}">
	                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
	                {{ field }}
	                {% if field.help_text %}
	                    <div class="post-create__help">{{ field.help_text|safe }}</div>
	                {% endif %}
	                {% for error in field.errors %}
	                    <div class="post-create__error">{{ error }}</div>
	                {% endfor %}
	            </div>
	        {% endfor %}

	        {% for error in form.non_field_errors %}
	            <div class="post-create__error">{{ error }}</div>
	        {% endfor %}

	        <div class="post-create__actions">
	            <button type="submit" class="post-create__submit">Сохранить статью</button>
	        </div>
	    </form>
	</div>
</section>


{% include 'template/footer.html' %}
</body>
</html>
