<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous">
<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top" style="width: 100%;">
    <a class="navbar-brand" href="{% url 'questionnaireIndex' %}">Твой Опросник</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'home' %}">Главная</a>
            <a class="nav-item nav-link" href="{% url 'go_poll' %}">Пройти опрос</a>
            <a class="nav-item nav-link" href="{% url 'my_poll' %}">Мои опросы</a>
            <a class="nav-item nav-link" href="{% url 'create_poll' %}">Создать опрос</a>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a href="{% url 'account_logout' %}" class="nav-link">Выйти</a>
                    {% else %}
                        <a href="{% url 'account_login' %}" class="nav-link">Авторизоваться</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>