* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #606060;
    font-size: 14px;
    background-color: rgb(248, 248, 250);
    max-width: 100%;
}

.container {
    max-width: 960px;
    margin: 50px auto;
    padding: 15px;
    background: white;
    border-radius: 15px;
}

.post {
    padding: 2em 0 1em;
}

.post-image img {
    width: 100%;
    margin: 0 0 20px 0;
}

.post h1 {
    color: #222;
    font-weight: 500;
    margin-bottom: 30px;
}

.post-header {
    text-align: center;
}

.post-meta {
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: .8em;
}

.post-meta:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
    background: #222;
}

time,
.author {
    padding-right: 26px;
    position: relative;
}

time:after,
.author:after {
    content: "/";
    color: #DDDDDF;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

p {
    line-height: 1.5;
    margin-bottom: 1em;
    text-align: justify;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }

    .container {
        padding: 0 45px;
    }

    .post-image img {
        float: left;
        width: 300px;
        margin: 0 30px 20px -45px;
    }
}