{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Отзывы - CourseMC</title>
	<link rel="stylesheet" href="{% static 'Course/css/style.css' %}">
	<link rel="shortcut icon" href="{% static 'Course/assets/favicon.ico' %}" type="image/x-icon">
</head>
<style>
	html,
	body {
		max-width: 100%;
		overflow-x: hidden;
	}
</style>

<body onclick="closeAll()">
	{% include 'template/header.html' %}

	<section class="scheduleSection">
		<div class="title review">
			<h2>Отзывы наших учеников</h2>
		</div>

		<div class="list review"></div>

		<nav class="pagination-container">
			<button class="back">
				<ion-icon name="chevron-back-outline"></ion-icon>
			</button>
			<div id="pagination-numbers"></div>
			<button class="next">
				<ion-icon name="chevron-forward-outline"></ion-icon>
			</button>
		</nav>
	</section>

	<script>
		const box = document.querySelector('.list')

		const itemsMain = [
			{% for review in reviews %}
		{
			name: '{{ review.author_id.get_full_name|default:review.author_id.username }}',
				date: '{{ review.pub_date }}',
					text: `
                    {{ review.content|safe }}
            `
		},
		{% endfor %}
    ].reverse()

		function setMark(elem) {
			if (elem === undefined) return ''
			if (elem === 'new') return 'Новая тема'
			if (elem === 'primary') return 'Ключевая тема'
		}

		box.innerHTML = itemsMain.map(item => (
			`<div id="dropdown" class="item">
                <div class="top">
                    <h3>${item.name}</h3>
                    ${item.date}
                </div>

                <div class="bottom">${item.text}</div>
            </div>`
		)).join(' ')
	</script>

	{% include 'template/footer.html' %}
</body>

</html>