<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>M&C - Занятия, расписание занятий</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<style>

    td {
	margin-left:8px;
	font-weight: normal ;
	font-size: 110%;
	text-align: justify;
	margin-right:3px;
	margin-top: 0px;
	text-indent: 6px;
	margin:0px;
	padding-bottom : 1px;
	padding-left : 4px;
	padding-right : 4px;
	padding-top : 1px;
	color:#003300
}
</style>
{% include 'template/base_head.html' %}

{% include 'template/header.html' %}
<div style="margin-top: 5%;" class="col-sm-12 col-md-6 col-lg-4">Введите название темы:
    <form>
        <input type="text" placeholder="Название темы" name="theme" class="form-control" style="border-radius: 10%;">
        <input type="checkbox" name="primary" value="primary" class="form-control">Ключевой урок
        <input type="checkbox" name="absent" value="absent" class="form-control">Урок который я пропустил
        <center><input type="submit" value="Найти" class="form-control" style="width: 50%; margin-top: 5%;"></center>
    </form>
</div>
<p style="margin-top: 5%;"><label  class="alert-danger">Красный фон</label> - означает что вы не присутствовали на уроке</p>
<p><label style="text-size: 115%; text-weight: bold;" class="alert-primary"><strong>Стилем </strong></label>- будут выделены темы уроков с ключевыми темами</p>
<table class="table table-hover table-bordered" style="margin-top: 1%;">
  <thead>
    <tr>
      <th scope="col">#</th>
        <th scope="col">Тема урока</th>
      <th scope="col">Время занятия</th>
      <th scope="col">Материалы к уроку</th>
    </tr>
  </thead>
  <tbody>
  {% for schedule in schedules %}
<tr>
      <th scope="row">{{ forloop.counter }}</th>
    <td
            {% for i in schedule.absent.all %}{% if user.get_username == i.name %}class='alert-danger' title="Вы не присутствовали на этом уроке"{% endif %}{% endfor %}{% if schedule.key_topic %} class="alert-primary" style="font-size: 115%; font-weight: bold;"{% endif %}>{{ schedule.theme | safe }}</td>
    <td style="width: 20%;">{{ schedule.weekday }} {{ schedule.time_lesson }}</td>
      <td style="width: 50%;">{{ schedule.lesson_materials | safe }}</td>
    </tr>
  {% empty %}
  <center style="margin-top: 5%;"><h3 style="color: red;">У вас пока нету расписания!</h3></center>
  {% endfor %}
  </tbody>
</table>
</body>
</html>