{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расписания - CourseMC</title>
    <link rel="stylesheet" href="{% static 'Course/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'Course/assets/favicon.ico' %}" type="image/x-icon">
</head>
<style>
    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }
</style>

<body onclick="closeAll()">
	{% include 'template/header.html' %}

<section class="scheduleSection">
    <h2>Расписание</h2>
    <div class="options">
        <a href="{% url 'billing_index' %}">
            <button>
                <ion-icon name="wallet-outline"></ion-icon>
                Оплата занятий
            </button>
        </a>
        <div class="right">

            <div class="filter">
                <div class="select" onclick="activeFilter()">
                    <p>Фильтровать</p>
                    <ion-icon name="chevron-down-outline"></ion-icon>
                </div>

                <div class="dropdown-filter">
                    <div onclick="activeFilterItem(0)" class="active">Все</div>
                    <div onclick="activeFilterItem(1)">Новая тема</div>
                    <div onclick="activeFilterItem(2)">Ключевая тема</div>
                </div>
            </div>
        </div>
    </div>

    <div class="list"></div>

    <nav class="pagination-container">
        <button class="back">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </button>
        <div id="pagination-numbers"></div>
        <button class="next">
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>
    </nav>
</section>

<script>
    const box = document.querySelector('.list')

    const itemsMain = [
        {% for schedule in schedules %}
            {
                lesson: {{ forloop.counter }}, name: '{{ schedule.theme|safe }}', content: `
        <div>
            {{ schedule.lesson_materials|safe }}
        </div>
    `,
                {% if schedule.lesson_type == 'Новая тема' %}
                    mark: 'new',
                {% elif schedule.lesson_type == 'Ключевой урок' %}
                    mark: 'primary',
                {% endif %}
            },
        {% endfor %}
    ].reverse()

    function setMark(elem) {
        if (elem === undefined) return ''
        if (elem === 'new') return 'Новая тема'
        if (elem === 'primary') return 'Ключевая тема'
    }

    box.innerHTML = itemsMain.map(item => (
        `<div id="dropdown" class="item ${item.mark != undefined ? item.mark : ''}">
                <div class="select" onclick="activeDropDown(${itemsMain.indexOf(item)})">
                    <div>
                        <p>${item.lesson} урок</p>
                        <h3>${item.name}</h3>
                        ${item.mark !== undefined ? `<div class='mark'>
                            <span></span>
                            <p>${setMark(item.mark)}</p>
                        </div>` : ''}
                    </div>

                    <ion-icon name="chevron-down-outline"></ion-icon>
                </div>

                <div class="dropdown">
                    ${item.content}
                </div>
            </div>`
    )).join(' ')
</script>
{% include 'template/footer.html' %}
</body>
</html>