@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--color-white: #f7f7f7;
	--color-dark: #1e1e1e;
	--color-accent: #6f7bf0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}
html, body.flex {
	height: 100%;
}
body {
    width: 100vw;
    overflow-x: hidden;
    transition: 0.5s;
}

body.black {
    background: var(--color-dark);
}
body.black .item .dropdown {
	color: #fff;
}
body.black .item .dropdown li {
	color: #fff;
}
a {
    text-decoration: none;
    color: inherit;
}

button {
    background: #6F7BF0;
    display: flex;
    padding: 13px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 20px;
    transition: 0.5s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

header {
    width: 100%;
    position: absolute;
    top: 30px;
}

header .container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .right {
    display: flex;
    align-items: center;
    gap: 40px;
}

header .right ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

header .right li {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    cursor: default;
    transition: 0.5s;
    position: relative;
}

body.black header .right li {
    color: #fff;
}

header .right.black li.active {
    color: #6F7BF0;
}

header .right.black li {
    color: #1E1E1E;
}

header .right li:nth-child(4) {
    cursor: pointer;
}

header .right li::before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background: #fff;
    bottom: 0;
    transition: 0.5s;
}

body.black header .right li::before {
    color: #fff !important;
}

header .right.black li::before {
    background: #1E1E1E;
}

header .right li.arrow:hover::before {
    width: calc(100% - 25px);
}

header .right li:hover:before {
    width: 100%;
}

header .right ion-icon {
    font-size: 20px;
}

header h3 {
    color: #6F7BF0;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    cursor: pointer;
}

header .menu {
    display: none;
}

body.main header .menu ion-icon {
	font-size: 40px;
	color: #fff;
}

body header .menu ion-icon {
    font-size: 40px;
    color: #1e1e1e;
}

body.black header .menu ion-icon {
    color: #fff;
}

header .menu ion-icon:nth-child(2) {
    display: none;
}

header .menu.active ion-icon:nth-child(2) {
    display: flex;
    z-index: 110;
    position: fixed;
    top: 30px;
    right: 30px;
}

header .menu.active ion-icon:nth-child(1) {
    display: none;
}

.homeSection:nth-child(2) {
    background: linear-gradient(98.87deg, #e3c763 7.4%, #ED6F5D 88.98%);
    height: 700px;
    display: flex;
    align-items: center;
}

.homeSection:nth-child(2) .container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homeSection:nth-child(2) .container div {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 560px;
    position: relative;
    top: 50px;
    opacity: 0;
    transition: 0.5s;
}

.homeSection:nth-child(2) .container div.active {
    top: 0;
    opacity: 1;
}

.homeSection:nth-child(2) h1 {
    font-size: 48px;
    line-height: 59px;
    font-weight: 600;
    color: #fff;
}

.homeSection:nth-child(2) h1 span {
    font-style: italic;
}

.homeSection:nth-child(2) .container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.homeSection:nth-child(2) img {
    border-radius: 10px;
    box-shadow: -4px 4px 30px rgba(0, 0, 0, 0.15);
    transform: translateY(100px);
    transition: 0.5s;
    top: 50px;
    opacity: 0;
    position: relative;
}

.homeSection:nth-child(2) img.active {
    opacity: 1;
    top: 0;
}

.homeSection:nth-child(3) {
    width: 1440px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.homeSection:nth-child(3) .left {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.5s;
    position: relative;
    top: 50px;
    opacity: 0;
}

.homeSection:nth-child(3) .left.active {
    top: 0;
    opacity: 1;
}

.homeSection:nth-child(3) .left h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #1E1E1E;
}

.homeSection:nth-child(3) .left p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1E1E1E;
}

.homeSection:nth-child(3) .right {
    width: 355px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s;
    position: relative;
    top: 50px;
    opacity: 0;
}

.homeSection:nth-child(3) .right.active {
    top: 0;
    opacity: 1;
}

.homeSection:nth-child(3) .right div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.homeSection:nth-child(3) .right img {
    width: 50px;
    height: 50px;
}

.homeSection:nth-child(3) .right p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1E1E1E;
}

.homeSection:nth-child(3) .right p span {
    font-weight: 600;
    color: #FF977E;
    font-style: italic;
}

.homeSection:nth-child(4) {
    margin-top: 20px;
    background: #111;
    display: flex;
    align-items: center;
    height: 500px;
}

.homeSection:nth-child(4) .container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homeSection:nth-child(4) .left {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.5s;
    position: relative;
    top: 50px;
    opacity: 0;
}

.homeSection:nth-child(4) .left.active {
    top: 0;
    opacity: 1;
}

.homeSection:nth-child(4) h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #fff;
}

.homeSection:nth-child(4) h2 span {
    background: linear-gradient(90deg, #FF977E 0%, #6F7BF0 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.homeSection:nth-child(4) p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.homeSection:nth-child(4) .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.homeSection:nth-child(4) .right img {
    border-radius: 10px;
    box-shadow: -4px 4px 30px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    position: relative;
    top: 50px;
    opacity: 0;
}

.homeSection:nth-child(4) .right img.active {
    top: 0;
    opacity: 1;
}

.homeSection:nth-child(4) .right img:nth-child(1) {
    transform: translateY(100px);
}

.homeSection:nth-child(4) .right img:nth-child(2) {
    transform: translateY(-100px);
}

.homeSection:nth-child(5) {
    margin: 100px auto 160px auto;
    width: 1440px;
}

.homeSection:nth-child(5) h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #1E1E1E;
}

.homeSection:nth-child(5) h2 span {
    color: #FF977E;
    font-style: italic;
}

.homeSection:nth-child(5) .box {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homeSection:nth-child(5) img {
    width: 75px;
    height: 75px;
}

.homeSection:nth-child(5) .item {
    display: flex;
    align-items: center;
    gap: 30px;
    transition: 0.5s;
    position: relative;
    top: 50px;
    opacity: 0;
}

.homeSection:nth-child(5) .item.active {
    top: 0;
    opacity: 1;
}

.homeSection:nth-child(5) .item div {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homeSection:nth-child(5) .item h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #1E1E1E;
}

.homeSection:nth-child(5) .item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1E1E1E;
}

.homeSection:nth-child(6) {
    width: 100%;
    background: #111;
    display: flex;
    align-items: center;
}

.homeSection:nth-child(6) .container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeSection:nth-child(6) img {
    border-radius: 10px;
    box-shadow: -4px 4px 30px rgba(0, 0, 0, 0.15);
    transform: translateY(-60px);
    transition: 0.5s;
    position: relative;
    top: 50px;
    opacity: 0;
}

.homeSection:nth-child(6) img.active {
    top: 0;
    opacity: 1;
}

.homeSection:nth-child(6) .right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    top: 50px;
    transition: 0.5s;
    opacity: 0;
}

.homeSection:nth-child(6) .right.active {
    top: 0;
    opacity: 1;
}

.homeSection:nth-child(6) .right h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #fff;
}

.homeSection:nth-child(6) .right h2 span {
    background: linear-gradient(90deg, #FF977E 0%, #6F7BF0 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.homeSection:nth-child(6) .stepline {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
}

.homeSection:nth-child(6) .step {
    display: flex;
    align-items: center;
    gap: 30px;
    z-index: 2;
}

.homeSection:nth-child(6) .step div {
    min-width: 75px;
    min-height: 75px;
    background: #6F7BF0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #fff;
}

.homeSection:nth-child(6) .step p {
    width: 450px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.homeSection:nth-child(6) .line {
    width: 8px;
    height: 70%;
    border-radius: 30px;
    background: rgba(111, 123, 240, 0.5);
    position: absolute;
    top: 60px;
    left: 34px;
}

.homeSection:nth-child(7) {
    background: #000;
    width: 100%;
    padding: 100px 0;
}

.homeSection:nth-child(7) .container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 50px;
    opacity: 0;
    transition: 0.5s;
}

.homeSection:nth-child(7) .container.active {
    top: 0;
    opacity: 1;
}

.homeSection:nth-child(7) h2 {
    width: 600px;
    color: #fff;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
}

.homeSection:nth-child(7) h2 span {
    color: #6F7BF0;
    font-style: italic;
}

.homeSection:nth-child(7) ion-icon {
    font-size: 200px;
    color: #F88F8F;
}

.homeSection:nth-child(8) {
    width: 1440px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homeSection:nth-child(8) .left {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    top: 50px;
    transition: 0.5s;
    opacity: 0;
}

.homeSection:nth-child(8) .left.active {
    top: 0;
    opacity: 1;
}

.homeSection:nth-child(8) ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.homeSection:nth-child(8) li {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1E1E1E;

}

.homeSection:nth-child(8) li ion-icon {
    font-size: 24px;
    color: #6F7BF0;
}

.homeSection:nth-child(8) .right {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    transition: 0.5s;
    top: 50px;
    opacity: 0;
}

.homeSection:nth-child(8) .right.active {
    top: 0;
    opacity: 1;
}

.homeSection:nth-child(8) h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #1E1E1E;
}

.homeSection:nth-child(8) h2 span {
    color: #FF977E;
    font-style: italic;
}

.homeSection:nth-child(8) p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1E1E1E;
}

.homeSection:nth-child(9) {
    background: #111;
    padding: 100px 0;
    width: 100%;
}

.homeSection:nth-child(9) .container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
    position: relative;
    transition: 0.5s;
    top: 50px;
    opacity: 0;
}

.homeSection:nth-child(9) .container.active {
    top: 0;
    opacity: 1;
}

.homeSection:nth-child(9) img {
    font-size: 200px;
}

.homeSection:nth-child(9) .container div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.homeSection:nth-child(9) h2 {
    background: linear-gradient(90deg, #FF977E 0%, #6F7BF0 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
}

.homeSection:nth-child(9) h4 {
    color: #fff;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
}

.homeSection:nth-child(9) p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.homeSection:nth-child(9) p a {
    color: #FF977E;
    font-weight: 500;
    transition: 0.5s;
}

.homeSection:nth-child(9) p a:hover {
    opacity: 75%;
}

.homeSection:nth-child(10) {
    width: 1440px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.scheduleSection {
    width: 1440px;
    margin: 144px auto 60px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.scheduleSection .title {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.scheduleSection .title p {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: rgba(30, 30, 30, 0.3);
}

.scheduleSection .title.review {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.scheduleSection .title.review button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.scheduleSection .title.review ion-icon {
    font-size: 20px;
}

.scheduleSection .actions {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.scheduleSection .actions div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.scheduleSection .actions div h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #1E1E1E;
}

body.black .scheduleSection .actions div h3 {
    color: #fff;
}

.scheduleSection .actions div h3 span {
    color: #FF977E;
}

.scheduleSection .billing,
.scheduleSection .review {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.scheduleSection .billing .item {
    width: 100%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.scheduleSection .billing .item h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #6F7BF0;
}

body.black .scheduleSection .billing .item h2 {
    color: #6F7BF0 !important;
}

.scheduleSection .billing .item p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #1E1E1E;
}

.scheduleSection .review .item {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 15px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.scheduleSection .review .item .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1E1E1E;
}

.scheduleSection .review .item h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FF977E;
}

.scheduleSection .review .item .bottom {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1E1E1E;
}

.scheduleSection .title.blog {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.scheduleSection .title.blog .controlls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.scheduleSection .title.blog .search {
    width: 300px;
    height: 46px;
    border: 2px solid #6F7BF0;
    border-radius: 10px;
    padding: 0 0 0 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.scheduleSection .title.blog .search input {
    height: 100%;
    width: 100%;
    border: none;
    background: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #6F7BF0;
}

.scheduleSection .title.blog .search input::placeholder {
    color: rgba(30, 30, 30, 0.3);
}

body.black .scheduleSection .title.blog .search input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.scheduleSection .title.blog .search ion-icon {
    font-size: 24px;
    color: #6F7BF0;
}

.scheduleSection .list.blog {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    gap: 30px;
}

.scheduleSection .list.blog .item {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.scheduleSection .list.blog .item img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.scheduleSection .list.blog .item .box {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 15px 15px 30px 15px;
}

.scheduleSection .list.blog .item .categories {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 5px;
}

.scheduleSection .list.blog .item .categories::-webkit-scrollbar {
    display: none;
}

.scheduleSection .list.blog .item .categories div {
    padding: 5px 12px;
    border: 1px solid #FF977E;
    border-radius: 100px;
    color: #FF977E;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scheduleSection .list.blog .item .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.scheduleSection .list.blog .item .info h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #1E1E1E;
}

.scheduleSection .list.blog .item .info p {
    color: rgba(30, 30, 30, 0.3);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.scheduleSection .list.blog .item .autor {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.scheduleSection .list.blog .item .autor h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #6F7BF0;
}

.scheduleSection .list.blog .item .autor p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(30, 30, 30, 0.5);
}

body.black .scheduleSection h2 {
    color: #fff !important;
}

.scheduleSection h2 span {
    background: linear-gradient(90deg, #FF977E 0%, #6F7BF0 100%) !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
    background-clip: text !important;
    font-style: normal !important;
}

.scheduleSection .box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.scheduleSection .box .imageBox {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.scheduleSection .box .imageBox img {
    border-radius: 10px;
    width: 450px;
}

.scheduleSection .box .contentBox {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}

.scheduleSection .box .contentBox .top {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.scheduleSection .box .contentBox .top h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FF977E;
}

body.black .scheduleSection .box .contentBox .top p {
    color: rgba(255, 255, 255, 0.5);
}

.scheduleSection .box .contentBox .top p {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #1e1e1e;
}

.scheduleSection .box .contentBox .stepline {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
}

.scheduleSection .box .contentBox .step {
    display: flex;
    align-items: center;
    gap: 30px;
    z-index: 2;
}

.scheduleSection .box .contentBox .step div {
    min-width: 75px;
    min-height: 75px;
    background: #6F7BF0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #fff;
}

.scheduleSection .box .contentBox .step p {
    width: 550px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1e1e1e;
}

body.black .scheduleSection .box .contentBox .step p {
    color: #fff;
}

.scheduleSection .box .contentBox .line {
    width: 8px;
    height: 90%;
    border-radius: 30px;
    background: rgba(111, 123, 240, 0.5);
    position: absolute;
    top: 60px;
    left: 34px;
}

.scheduleSection .quizButton {
    width: fit-content;
    align-self: center;
    background: #FF977E;
}

.scheduleSection .actions button {
    width: fit-content;
    background: #FF977E;
}

.scheduleSection .previosPayments {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #1E1E1E;
    margin-bottom: -25px;
}

body.black .scheduleSection .previosPayments {
    color: #fff;
}

.scheduleSection .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scheduleSection .options button {
    display: flex;
    gap: 10px;
    background: #FF977E;
}

.scheduleSection .options button ion-icon {
    font-size: 20px;
}

.scheduleSection .options .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.scheduleSection .options .right button {
    background: #6F7BF0;
}

.scheduleSection .options .right .filter,
.scheduleSection .title.blog .filter {
    position: relative;
}

.scheduleSection .options .right .select,
.scheduleSection .title.blog .select {
    height: 46px;
    background: none;
    border-radius: 10px;
    border: 2px solid #6F7BF0;
    padding: 13px 20px;
    gap: 15px;
    align-items: center;
}

.scheduleSection .title.blog .select {
    border: 2px solid #FF977E;
}

.scheduleSection .options .right .select p,
.scheduleSection .title.blog .select p {
    color: #6F7BF0;
    font-size: 16px;
    font-weight: 600;
    transform: rotate(0);
    transition: 0.5s;
}

.scheduleSection .title.blog .select p,
.scheduleSection .title.blog .filter.active .select ion-icon,
.scheduleSection .title.blog .select ion-icon {
    color: #FF977E;
}

.scheduleSection .options .right .filter.active .select ion-icon,
.scheduleSection .title.blog .filter.active .select ion-icon {
    transform: rotate(90deg);
}

.scheduleSection .options .right .select ion-icon {
    color: #6F7BF0;
}

.scheduleSection .options .right .dropdown-filter,
.scheduleSection .title.blog .dropdown-filter {
    position: absolute;
    width: 100%;
    background: #fff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.07);
    padding: 10px 0;
    opacity: 0;
    display: flex;
    transition: 0.5s;
    max-height: 0;
    overflow-y: hidden;
    flex-direction: column;
    border-radius: 10px;
    z-index: 100;
}

body.black .scheduleSection .title.blog .dropdown-filter {
    box-shadow: 0px 20px 40px rgba(255, 255, 255, 0.1);
}

.scheduleSection .options .right .dropdown-filter.active,
.scheduleSection .title.blog .dropdown-filter.active {
    opacity: 1;
    transition: 0.5s;
    max-height: 1000px;
    overflow-y: hidden;
}

body.black .scheduleSection .options .right .dropdown-filter.active,
body.black .scheduleSection .title.blog .dropdown-filter.active {
    background: #1E1E1E;
}

.scheduleSection .options .right .dropdown-filter.active,
.scheduleSection .title.blog .dropdown-filter.active {
    display: flex;
}

.scheduleSection .options .right .dropdown-filter div,
.scheduleSection .title.blog .dropdown-filter div {
    padding: 15px 20px;
    cursor: pointer;
    transition: 0.5s;
}

body.black .scheduleSection .options .right .dropdown-filter div,
body.black .scheduleSection .title.blog .dropdown-filter div {
    color: #fff;
}

.scheduleSection .options .right .dropdown-filter div.active {
    background: #6F7BF0;
    color: #fff;
}

.scheduleSection .title.blog .dropdown-filter div.active,
.scheduleSection .title.blog .dropdown-filter div.active:hover {
    background: #FF977E;
    color: #fff;
}

.scheduleSection .options .right .dropdown-filter div.active:hover {
    background: #6F7BF0;
}

.scheduleSection .options .right .dropdown-filter div:hover,
.scheduleSection .title.blog .dropdown-filter div:hover {
    background: rgb(30, 30, 30, 0.07);
}

body.black .scheduleSection .options .right .dropdown-filter div:hover,
body.black .scheduleSection .title.blog .dropdown-filter div:hover {
    background: rgb(255, 255, 255, 0.07);
}

.homeSection:nth-child(10) h2,
.scheduleSection h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #1E1E1E;
}

.homeSection:nth-child(10) h2 span,
.scheduleSection h2 span {
    color: #FF977E;
    font-style: italic;
}

.homeSection:nth-child(10) .list,
.scheduleSection .list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.homeSection:nth-child(10) .item,
.scheduleSection .item {
    width: 100%;
    max-height: fit-content;
    transition: 0.5s;
}

.scheduleSection .item.primary .mark {
    display: flex;
    align-items: center;
    gap: 10px;
}

.scheduleSection .item.primary .mark span {
    width: 15px;
    height: 15px;
    background: #6F7BF0;
    border-radius: 100%;
}

.scheduleSection .item.primary .mark p {
    color: #6F7BF0;
    font-weight: 600;
}

.scheduleSection .item.new .mark {
    display: flex;
    align-items: center;
    gap: 10px;
}

.scheduleSection .item.new .mark span {
    width: 15px;
    height: 15px;
    background: #FF977E;
    border-radius: 100%;
}

.scheduleSection .item.new .mark p {
    color: #FF977E;
    font-weight: 600;
}

.scheduleSection .item.active span {
    background: #fff !important;
}

.scheduleSection .item.hidden {
    display: none !important;
}

.homeSection:nth-child(10) .item.active,
.scheduleSection .item.active {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.07);
    border-radius: 0 0 10px 10px;
    transition: 0.5s;
}

.homeSection:nth-child(10) .item.active .select,
.scheduleSection .item.active .select {
    border-radius: 10px 10px 0 0;
    height: 60px;
    display: flex;
    align-items: center;
    background: #FF977E;
    justify-content: space-between;
    padding: 0 20px 0 35px;
    cursor: pointer;
    transition: 0.5s ease;
}

.homeSection:nth-child(10) .select,
.scheduleSection .select {
    border-radius: 10px 10px 0 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 35px;
    background: #F7F7F7;
    border: 1px solid #EEEEEE;
    color: #1E1E1E;
    transition: 0.5s ease;
    cursor: pointer;
}

.homeSection:nth-child(10) .select div,
.scheduleSection .select div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.homeSection:nth-child(10) .select p,
.scheduleSection .select p {
    font-weight: 400;
    font-size: 16px;
    color: #1e1e1e;
}

.homeSection:nth-child(10) .item.active .select p,
.scheduleSection .item.active .select p {
    color: #fff;
}

.homeSection:nth-child(10) .select h3,
.scheduleSection .select h3 {
    font-weight: 600;
    font-size: 24px;
    color: #1e1e1e;
}

.homeSection:nth-child(10) .item.active .select h3,
.scheduleSection .item.active .select h3 {
    color: #fff;
}

.homeSection:nth-child(10) .select ion-icon,
.scheduleSection .select ion-icon {
    color: #1e1e1e;
    min-width: 20px;
    font-size: 20px;
    transition: 0.5s ease;
}

.homeSection:nth-child(10) .item.active .select ion-icon,
.scheduleSection .item.active .select ion-icon {
    color: #fff;
}

.homeSection:nth-child(10) .item.active .select ion-icon,
.scheduleSection .item.active .select ion-icon {
    transform: rotate(90deg);
}

.homeSection:nth-child(10) .dropdown,
.scheduleSection .dropdown {
    padding: 0 35px;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    display: flex;
    transition: 0.5s;
    max-height: 0;
    overflow-y: hidden;
}

.scheduleSection .dropdown {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.scheduleSection .dropdown div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.scheduleSection .dropdown div h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1E1E1E;
}

.scheduleSection .dropdown div a {
    color: #6F7BF0;
    font-weight: 600;
    transition: 0.5s;
}

.scheduleSection .dropdown div a:hover {
    opacity: 0.7;
}

.homeSection:nth-child(10) .item.active .dropdown,
.scheduleSection .item.active .dropdown {
    padding: 25px 35px;
    opacity: 1;
    transition: 1s;
    max-height: 1000px;
    overflow-y: hidden;
}

.scheduleSection .item.active .dropdown .homeSection:nth-child(10) .dropdown ul,
.scheduleSection .dropdown ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: 0.5s;
}

.homeSection:nth-child(10) .item .dropdown ul {
    transition: 0.5s;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.homeSection:nth-child(10) .item.active .dropdown ul,
.scheduleSection .item.active .dropdown ul {
    transition: 0.5s;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.homeSection:nth-child(10) .dropdown li,
.scheduleSection .dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1E1E1E;
}

.scheduleSection .dropdown li {
    flex-wrap: wrap;
}

.homeSection:nth-child(10) .dropdown .dot {
    min-width: 12px;
    min-height: 12px;
    background: #6F7BF0;
    border-radius: 100%;
}

.homeSection:nth-child(10) .dropdown h2 {
    opacity: 20%;
    color: #1e1e1e;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.homeSection:nth-child(10) .item.active .dropdown h2 {
    transition: 0.5s;
}

.homeSection:nth-child(10) .dropdown h2 ion-icon {
    font-size: 60px;
}

.homeSection:nth-child(11) {
    background: #111;
    padding: 60px 0;
    width: 100%;
}

.homeSection:nth-child(11) .container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.homeSection:nth-child(11) h2 {
    color: #fff;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
}

.homeSection:nth-child(11) .box {
    display: flex;
    align-items: center;
    gap: 100px;
}

.homeSection:nth-child(11) .box div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeSection:nth-child(11) .box h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.homeSection:nth-child(11) .box span {
    color: #FF977E;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

.homeSection:nth-child(11) form {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

.homeSection:nth-child(11) form input {
    margin-top: -6px;
    border-radius: 10px;
    border: 3px solid #6F7BF0;
    background: transparent;
    height: 50px;
    padding: 0 18px;
    color: #6F7BF0;
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s;
    position: relative;
    top: 50px;
    opacity: 0;
}

.homeSection:nth-child(11) form input.active {
    top: 0;
    opacity: 1;
}

.homeSection:nth-child(11) form input:focus {
    box-shadow: 0 0 20px #6F7BF0;
}

.homeSection:nth-child(11) form label {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    transition: 0.5s;
    position: relative;
    top: 50px;
    opacity: 0;
}

.homeSection:nth-child(11) form label.active {
    top: 0;
    opacity: 1;
}

.homeSection:nth-child(11) form button {
    width: fit-content;
    align-self: center;
    margin-top: 10px;
    transition: 0.5s;
    position: relative;
    top: 50px;
    opacity: 0;
}

.homeSection:nth-child(11) form button.active {
    top: 0;
    opacity: 1;
}

.pagination-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.pagination-container #pagination-numbers {
    display: flex;
    align-items: center;
    gap: 5px;
}

.pagination-container.grid #pagination-numbers {
    display: grid !important;
    grid-template-columns: repeat(10, 1fr);
}

.pagination-container .back,
.pagination-container .next {
    font-size: 25px;
    padding: 13px;
}

.pagination-container #pagination-numbers button {
    font-size: 20px;
    padding: 15px 20px;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(30, 30, 30, 0.10);
    color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-container #pagination-numbers button.active {
    background: #FF977E;
    color: #fff;
}

.chat {
    width: 1440px;
    margin: 144px auto 60px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.chat h2 {
    width: fit-content;
    font-size: 48px;
    color: #1e1e1e;
}

body.black .chat h2 {
    color: #fff;
}

.chat h2 span {
    background: linear-gradient(90deg, #FF977E 0%, #6F7BF0 100%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.chat .chatBox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat .chatList {
    width: 25%;
    height: calc(100vh - 262px);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
}

body.black .chat .chatList {
    background: #171717;
    box-shadow: none;
}

.chat .chatList .search {
    margin: 20px;
    height: 50px;
    border: 2px solid #FF977E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 0 0 15px;
}

.chat .chatList .search ion-icon {
    font-size: 24px;
    color: #FF977E;
}

.chat .chatList .search input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    color: #FF977E;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.chat .chatList .search input::placeholder {
    color: rgba(30, 30, 30, 0.3);
}

body.black .chat .chatList .search input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.chat .chatList .items {
    background: #6F7BF0;
    height: 60px;
    padding: 5px 20px;
}

.chat .chatList .items .item {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.chat .chatList .items img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.chat .chatList .item {
    position: relative;
}

.chat .chatList .item::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #53B052;
    z-index: 100;
    top: 0;
    left: 35px;
}

.chat .chatList .items p {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.chat .chatBar {
    width: 100%;
    height: calc(100vh - 262px);
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
}

body.black .chat .chatBar {
    background: #171717;
    box-shadow: none;
}

.chat .chatBar .top {
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid rgba(30, 30, 30, 0.1);
}

body.black .chat .chatBar .top {
    border-bottom: 2px solid #1e1e1e;
}


.chat .chatBar .top .chat .chatBar .top p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1e1e1e;
}

body.black .chat .chatBar .top p {
    color: #fff;
}

.chat .chatBar .top p span {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #6F7BF0;
}

.chat .chatBar .box {
    height: calc(100vh - 325px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
}

.chat .chatBar .box .scroll {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
}

.chat .chatBar .box .scroll::-webkit-scrollbar {
    display: none;
}

.chat .chatBar .box .form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.chat .chatBar .box .form input {
    height: 100%;
    width: 100%;
    border: 2px solid #FF977E;
    border-radius: 100px;
    background: transparent;
    padding: 0 20px;
    color: #FF977E;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.chat .chatBar .box .form input::placeholder {
    color: rgba(30, 30, 30, 0.5);
}

body.black .chat .chatBar .box .form input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.chat .message {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    width: 40%;
}

.chat .message.you {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.chat .message div {
    padding: 15px;
    background: rgba(30, 30, 30, 0.2);
    border-radius: 20px 20px 20px 0px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

body.black .chat .message div {
    background: rgba(255, 255, 255, 0.1);
}

.chat .message.you div,
body.black .chat .message.you div {
    background: #FF977E;
    border-radius: 20px 20px 0px 20px;
}

footer {
    width: 1440px;
    margin: 0 auto;
    padding: 20px 0;
}

footer.change {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer.change div {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 30px;
    color: #1e1e1e;
}

footer.change div ion-icon {
    cursor: pointer;
}

footer.change div ion-icon:nth-child(2) {
    color: #1e1e1e !important;
    display: block !important;
}

body.black footer.change div ion-icon:nth-child(2) {
    display: none !important;
}

body.black footer.change div ion-icon:nth-child(1) {
    color: #fff !important;
    display: block !important;
}

footer.change div ion-icon:nth-child(1) {
    display: none !important;
}

footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1E1E1E;
}

body.black footer p {
    color: #fff;
}

.navigation {
    left: -100%;
    transition: 0.5s;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    top: 0;
    z-index: 100;
    overflow: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.navigation.active {
    left: 0;
}

.navigation ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    list-style: none;
}

.navigation li {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    transition: 0.5s;
    padding: 5px 15px;
    border-radius: 30px;
}

.navigation li.active {
    color: #6F7BF0;
    background: #fff;

}

.navigation ion-icon {
    font-size: 25px;
    transition: 0.5s;
}

.navigation li.active ion-icon {
    color: #6F7BF0;
    transform: rotate(180deg);
}

.navigation ul ul {
    display: none;
}

.navigation ul ul.active {
    display: flex;
}

.navigation ul ul li {
    color: rgba(255, 255, 255, 0.5);
}

.drop {
    position: absolute;
    padding: 30px;
    border-radius: 10px;
    background: rgba(34, 34, 34, 0.9);
    backdrop-filter: blur(100px);
    z-index: 90;
    top: 60px;
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.drop.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}

.drop.active li {
    cursor: pointer;
}

.drop1 {
    right: 26%;
}

.drop2 {
    right: 17%;
}

.drop3 {
    right: 7%;
}

.drop ul {
    color: rgba(255, 255, 255, 0.75);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 14px;
}

.drop li {
    cursor: default;
    transition: 0.3s;
    position: relative;
}

.drop li:hover {
    color: #fff;
}

.drop li::before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background: #fff;
    bottom: -2px;
    transition: 0.5s;
}

.drop li:hover::before {
    width: var(--var);
}

@media screen and (max-width: 1550px) {

    header .container,
    .homeSection:nth-child(2) .container,
    .homeSection:nth-child(3),
    .homeSection:nth-child(4) .container,
    .homeSection:nth-child(5),
    .homeSection:nth-child(6) .container,
    .homeSection:nth-child(7) .container,
    .homeSection:nth-child(8),
    .homeSection:nth-child(9) .container,
    .homeSection:nth-child(10),
    .homeSection:nth-child(11) .container,
    footer,
    .homeSection:nth-child(10) .dropdown,
    .homeSection:nth-child(10) .item.active .dropdown,
    .scheduleSection,
    .chat {
        max-width: 100%;
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 1200px) {

    .homeSection:nth-child(5) .item div,
    .homeSection:nth-child(6) .step p,
    .chat .message div,
    .scheduleSection .box .contentBox .step p,
    .scheduleSection .box .contentBox .top {
        width: 100%;
    }

    .homeSection:nth-child(4) .container,
    .homeSection:nth-child(5) .box,
    .homeSection:nth-child(6) .container,
    .homeSection:nth-child(2) .container {
        gap: 20px;
    }

    .scheduleSection .list.blog {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .chat .message {
        width: 50%;
    }

    .scheduleSection .box {
        align-items: center;
    }

    .scheduleSection .box .imageBox {
        display: none;
    }
}

@media screen and (max-width: 1000px) {

    header .right,
    .homeSection:nth-child(4) .right img:nth-child(2) {
        display: none;
    }

    header .menu {
        display: flex;
    }

    .homeSection:nth-child(10) .item.active .dropdown,
    .homeSection:nth-child(10) .dropdown {
        flex-direction: column;
        gap: 30px;
    }

    .homeSection:nth-child(11) form,
    .homeSection:nth-child(4) .right {
        width: 100%;
    }

    .homeSection:nth-child(4) .container,
    .homeSection:nth-child(7) .container {
        flex-direction: column;
    }

    .homeSection:nth-child(4) {
        padding-top: 50px;
        height: auto;
    }

    .homeSection:nth-child(4) .right img:nth-child(1) {
        width: 50%;
        transform: translateY(50px);
        margin: 0 auto;
    }

    .homeSection:nth-child(5) .box {
        flex-direction: column;
        gap: 40px;
    }

    .homeSection:nth-child(6) .container {
        flex-direction: column;
        gap: 0;
        padding-bottom: 60px;
    }

    .homeSection:nth-child(8) {
        flex-direction: column-reverse;
        gap: 50px;
    }

    body.black .chat .chatList {
        display: none;
    }

    .scheduleSection .title.review {
        flex-direction: column;
    }
}

@media screen and (max-width: 850px) {
    .homeSection:nth-child(2) .container {
        align-items: flex-start;
        flex-direction: column;
        margin-top: 200px;
    }

    .homeSection:nth-child(2) {
        height: 100%;
    }

    .homeSection:nth-child(2) img {
        transform: translateY(50px);
        margin: 0 auto;
    }

    .homeSection:nth-child(2) .container div {
        margin: 0 auto;
    }

    .homeSection:nth-child(3) {
        flex-direction: column;
        gap: 40px;
    }

    .scheduleSection .select div,
    .scheduleSection .item.active .select div {
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
    }

    .scheduleSection .select,
    .scheduleSection .item.active .select {
        height: auto;
        padding: 15px;
    }

    .scheduleSection .options,
    .scheduleSection .options .right {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .scheduleSection .options button,
    .scheduleSection .options .right .filter {
        width: 100%;
    }

    .scheduleSection .item.primary .mark,
    .scheduleSection .item.new .mark {
        flex-direction: row;
    }

    .scheduleSection .title.blog {
        flex-direction: column;
    }

    .pagination-container.grid #pagination-numbers {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 650px) {

    .homeSection:nth-child(2) .container div,
    .homeSection:nth-child(2) img,
    .homeSection:nth-child(3) .left,
    .homeSection:nth-child(3) .right,
    .homeSection:nth-child(4) .left,
    .homeSection:nth-child(4) .right img:nth-child(1),
    .homeSection:nth-child(6) img,
    .homeSection:nth-child(7) h2,
    .homeSection:nth-child(8) .right,
    .scheduleSection .title.blog .search,
    .scheduleSection .title.blog .filter,
    .chat .message {
        width: 100%;
    }

    .homeSection:nth-child(9) .container {
        flex-direction: column;
        gap: 50px;
    }

    .homeSection:nth-child(11) .box {
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
    }

    header h3 {
        color: rgba(111, 123, 240, 0.75);
    }

    .scheduleSection .title.blog .controlls {
        flex-direction: column;
        width: 100%;
    }

    .chat .chatBar .box .scroll {
        justify-content: flex-start
    }
}

@media screen and (max-width: 650px) {

    .homeSection:nth-child(10) .item.active .select div,
    .homeSection:nth-child(10) .item .select div {
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
    }

    .homeSection:nth-child(10) .item.active .select,
    .homeSection:nth-child(10) .item .select {
        height: auto;
        padding: 15px;
    }

    .homeSection:nth-child(9) .container div {
        width: 100%;
    }

    .scheduleSection .review .item .top {
        flex-direction: column;
    }

    .scheduleSection .title.review button {
        width: 100%;
        justify-content: center;
    }

    .pagination-container.grid #pagination-numbers {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 450px) {

    .homeSection:nth-child(4) h2,
    .homeSection:nth-child(7) h2,
    .homeSection:nth-child(8) h2,
    .homeSection:nth-child(2) h1,
    .homeSection:nth-child(3) .left h2,
    .homeSection:nth-child(5) h2,
    .homeSection:nth-child(6) .right h2,
    .homeSection:nth-child(9) h2,
    .homeSection:nth-child(10) h2,
    .homeSection:nth-child(10) .dropdown h2,
    .homeSection:nth-child(11) h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .homeSection:nth-child(10) .dropdown h2 ion-icon {
        font-size: 40px;
    }

    .scheduleSection .billing .item p {
        font-size: 16px;
    }
}

@keyframes close {
    0% {
        max-height: auto;
        opacity: 0;
    }

    100% {
        max-height: 0;
        opacity: 0;
    }
}

body.black .homeSection:nth-child(3) .left h2, body.black .homeSection:nth-child(3) .left p, body.black .homeSection:nth-child(3) .right p, body.black .homeSection:nth-child(5) .item h3, body.black .homeSection:nth-child(5) .item p, body.black .homeSection:nth-child(8) h2, body.black .homeSection:nth-child(8) h3, body.black .homeSection:nth-child(8) li, body.black .homeSection:nth-child(8) p {
	color: var(--color-white);
}
body.black .homeSection:nth-child(10) .dropdown h2 {
	color: var(--color-white);
	opacity: 0.5;
}

body.flex {
	display: flex;
	flex-direction: column;
}
body.flex header .menu ion-icon {
	color: var(--color-dark);
}
body.flex.black header .menu ion-icon {
	color: var(--color-white);
}
.section {
	margin: 150px auto 30px;
	flex: 1 1 auto;
}
.form-login {
	max-width: 560px;
	background: var(--color-white);
	padding: 40px;
	border-radius: 4px;
}
.form-title {
	text-align: center;
	margin-bottom: 20px;
}
.input-box {
	margin-top: 16px;
}
.input-box label {
	font-size: 14px;
}
.input-box input[type="text"], .input-box input[type="password"] {
	display: flex;
	width: 100%;
	height: 50px;
	border: 2px solid #e7e7e7;
	padding: 15px 20px;
	border-radius: 4px;
	font-size: 16px;
	margin-top: 4px;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 500px white inset;
}
.input-box input[type="text"]:focus, .input-box input[type="password"]:focus {
	border: 2px solid var(--color-accent);
}
.form-login .btn {
	width: 100%;
	height: 50px;
	justify-content: center;
	align-items: center;
	margin-top: 16px;
	border-radius: 4px;
}
.form-login .btn:hover {
	transform: scale(0.95);
}


/* для элемента input c type="checkbox" */
.input-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

/* для элемента label, связанного с .input-checkbox */
.input-checkbox+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
	cursor: pointer;
}

/* создание в label псевдоэлемента before со следующими стилями */
.input-checkbox+label::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #adb5bd;
	border-radius: 0.25em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60% 60%;
}

/* стили при наведении курсора на checkbox */
.input-checkbox:not(:disabled):not(:checked)+label:hover::before {
	border-color: var(--color-accent);
}

/* стили для активного чекбокса (при нажатии на него) */
.input-checkbox:not(:disabled):active+label::before {
	background-color: var(--color-accent);
	border-color: var(--color-accent);
}

/* стили для чекбокса, находящегося в фокусе */
/* .input-checkbox:focus+label::before {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
} */

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.input-checkbox:focus:not(:checked)+label::before {
	border-color: var(--color-accent);
}

/* стили для чекбокса, находящегося в состоянии checked */
.input-checkbox:checked+label::before {
	border-color: var(--color-accent);
	background-color: var(--color-accent);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.input-checkbox:disabled+label::before {
	background-color: #e9ecef;
}

ul {
	padding-left: 0;
	margin-bottom: 0;
}

.black .scheduleSection .title p {
	color: var(--color-white);
}



@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes slideIn {
	from {
		transform: translate(0, -50px);
	}

	to {
		transform: none;
	}
}

@keyframes slideOut {
	from {
		transform: none;
	}

	to {
		transform: translate(0, -50px);
	}
}

.modal[aria-hidden="true"] {
	animation: fadeOut 0.15s linear;
}

.modal[aria-hidden="false"] {
	animation: fadeIn 0.15s linear;
}

.modal[aria-hidden="true"] .modal-dialog {
	animation: slideOut 0.3s ease-out;
}

.modal[aria-hidden="false"] .modal-dialog {
	animation: slideIn 0.3s ease-out;
}

.modal {
	--modal-zindex: 1055;
	--modal-width: 480px;
	--modal-padding: 20px;
	--modal-margin: 0.5rem;
	--modal-color: ;
	--modal-bg: #fff;
	--modal-border-color: var(--border-color-translucent);
	--modal-border-width: 1px;
	--modal-border-radius: 0.5rem;
	--modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	--modal-inner-border-radius: calc(0.5rem - 1px);
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--modal-zindex);
	display: none;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	outline: 0;
}

.modal.show {
	display: block;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: var(--modal-margin);
	pointer-events: none;
}

.modal.show .modal-dialog {
	transform: none;
}

.modal-dialog-scrollable {
	height: calc(100% - var(--modal-margin) * 2);
}

.modal-dialog-scrollable .modal-content {
	max-height: 100%;
	overflow: hidden;
}

.modal-dialog-scrollable .modal-body {
	overflow-y: auto;
}

.modal-dialog-centered {
	display: flex;
	align-items: center;
	min-height: calc(100% - var(--modal-margin) * 2);
}

.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 20px 0;
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	color: var(--modal-color);
	pointer-events: auto;
	background-color: var(--modal-bg);
	background-clip: padding-box;
	border: var(--modal-border-width) solid var(--modal-border-color);
	border-radius: var(--modal-border-radius);
	outline: 0;
}

.modal-backdrop {
	--backdrop-zindex: -1;
	--backdrop-bg: #000;
	--backdrop-opacity: 0.6;
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--backdrop-zindex);
	width: 100vw;
	height: 100vh;
	background-color: var(--backdrop-bg);
}

.modal-backdrop.fade {
	opacity: 0;
}

.modal-backdrop.show {
	opacity: var(--backdrop-opacity);
	cursor: pointer;
}

.modal-body {
	position: relative;
	flex: 1 1 auto;
	padding: var(--modal-padding);
}

.btn-close {
	width: 25px;
	height: 25px;
	background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
	opacity: 0.5;
	border: none;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 18px;
}

.btn-close:hover {
	opacity: 0.8;
}

@media (min-width: 576px) {
	.modal {
		--modal-margin: 1.75rem;
		--modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	}

	.modal-dialog {
		max-width: var(--modal-width);
		margin-right: auto;
		margin-left: auto;
	}
}

.modal-title {
	margin: 0;
	padding-right: 30px;
	font-size: 24px;
}

.modal-text {
	margin: 16px 0;
}

.modal-text:first-child {
	margin-top: 0;
}

.modal-text:last-child {
	margin-bottom: 0;
}

.black .post-create form {
	color: var(--color-white);
}
@media (max-width: 425.98px) {
	.form-login {
		padding: 20px;
	}
}
header .container {
	background: transparent;
}