* {
    font-family: Verdana, sans-serif;
    font-size: 103%;
}

textarea {
    overflow: hidden;
}

.review {
    border: 1px solid;
    padding: 25px 25px 10px 25px;
    border-radius: 7px;
    margin-left: 50px;
}

.date_review {
    text-align: right;
    margin-top: 20px;
}

.write_review {
    margin: 30px 50px 75px 20px;
}

.review-block {
    margin-top: 2.5%;
}

#comment_form {
    margin-top: 25px;
    margin-left: 25px;
}