{% load static %}

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Онлайн курсы Python для начинающих</title>
  <meta name="description"
        content="Онлайн курсы программирования Python 3 для начинающих с опытными практикующими специалистами в роли преподавателей. Предоставляется сертификат, возможна помощь с трудоустройством. Дистанционное обучение в школе M&C подойдёт и для начинающих с нуля и для желающих повысить квалификацию и систематизировать знания. Практические навыки программирования и анализа данных, полученные на наших курсах помогут вам получить новую профессию или повысить свой профессиональный уровень и доходы.">
  <meta name="keywords" content="">
  <meta property="og:title" content="Онлайн курсы Python для начинающих">
  <meta property="og:description"
        content="Онлайн курсы программирования Python 3 для начинающих с опытными практикующими специалистами в роли преподавателей. Предоставляется сертификат, возможна помощь с трудоустройством. Дистанционное обучение в школе M&C подойдёт и для начинающих с нуля и для желающих повысить квалификацию и систематизировать знания. Практические навыки программирования и анализа данных, полученные на наших курсах помогут вам получить новую профессию или повысить свой профессиональный уровень и доходы.">
  <meta property="og:type" content="product">
  <meta property="og:url" content="https://brunoyam.com/online-kursy/python-s-nulya">
  <meta property="og:locale" content="ru_RU">
  <meta http-equiv="Cache-control" content="public">

  <meta name="yandex-verification" content="e4d421c774f21e5b">
  <meta name="google-site-verification" content="xQVq1B6p1JMa1S2r4_2et2xC9hz7QqIFlrxv_vmuDSs">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="icon" type="image/png"
        href="https://cdn.programiz.com/sites/tutorial2program/files/programiz-favicon_3.png">

  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#EB661B">
  <meta name="facebook-domain-verification" content="bph3sg42386emvfqen4uqs0k121srh">
  <meta name="csrf-token" id="csrf-token" content="SaMy7HxDVvE2qrYU13neyBjTWoC7AWnxQMF0PGvE">

  <link href="{% static 'indexPage/app.js' %}" as="script">
  <link href="{% static 'indexPage/vendor.min.js' %}" as="script">
  <link href="{% static 'indexPage/scripts.js' %}" as="script">
  <link rel="stylesheet" href="{% static 'indexPage/app.css' %}">

  <!-- Google Tag Manager -->
  <script src="{% static 'indexPage/629425364611816' %}" async=""></script>
  <script async="" src="{% static 'indexPage/fbevents.js' %}"></script>
  <script async="" src="{% static 'indexPage/tag.js' %}"></script>
  <script async="" src="{% static 'indexPage/saved_resource' %}"></script>
  <script type="text/javascript" async="" src="{% static 'indexPage/analytics.js' %}"></script>
  <script async="" src="{% static 'indexPage/gtm.js' %}"></script>

  <script async="" src="{% static 'indexPage/js' %}"></script>
<noscript><div><img src="https://mc.yandex.ru/watch/89295466" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>
