{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Вопросы для интервью</title>
    <link rel="stylesheet"
          href="{% static 'interview/style.css' %}?v=20260808-4">
    <link rel="stylesheet"
          href="{% static 'Course/css/style.css' %}?v=20260808-2">
    <link rel="shortcut icon" href="{% static 'Course/assets/favicon.ico' %}"
          type="image/x-icon">
    <script src="{% static 'interview/form.js' %}?v=20260808-2" defer></script>
</head>

<body class="interview-page">
{% include 'template/header.html' %}
<main class="interview-content">
    <h1>Вопросы для собеседования</h1>
    <!-- Create Form -->
    <form id="form">

        <!-- Details -->
        <div class="form-control">
            <label for="question-amount">
                Количество вопросов (от 10 до 50)
            </label>

            <input type="number"
                   id="question-amount"
                   value="10"
                   name="amount"
                   min="10"
                   max="50"
                   required>
        </div>
        <div class="form-control">
            <label>Категории
                <small>(Выберите хотя бы одну)</small>
            </label>
            <label><input type="checkbox" name="technologies"
                          value="random">Случайные</label>
            {% for i in categories %}
                <label>
                    <input type="checkbox"
                           name="technologies"
                           value="{{ i }}"
                           {% if i.title == 'Python' %}
                               id="python-technology"
                               aria-controls="python-complexity"
                               aria-expanded="false"
                           {% endif %}>
                    {{ i }}
                </label>
                {% if i.title == 'Python' %}
                    <label class="range-block"
                           id="python-complexity"
                           hidden>
                        <label>Укажите сложность
                            <small>(1 - легко, 10 - хард)</small>:
                        </label>
                        <label style="display: inline;">
                            <input type="radio" name="experience_level"
                                   value="Junior">
                            Junior
                        </label>

                        <label style="display: inline;">
                            <input type="radio" name="experience_level"
                                   value="Middle">
                            Middle
                        </label>

                        <label style="display: inline;">
                            <input type="radio" name="experience_level"
                                   value="Senior">
                            Senior
                        </label>
                        <br><br>
                        <label style="display: inline;" for="complexity-start">От:
                            <input id="complexity-start"
                                   style="width: 37px; display: inline;"
                                   type="number" value="1" max="10"
                                   name="start"></label>
                        <label style="display: inline; margin-left: 10px;"
                               for="complexity-end">До:
                            <input id="complexity-end"
                                   style="width: 37px; display: inline;"
                                   type="number" value="3" max="10"
                                   name="end"></label>
                    </label>
                {% endif %}
            {% endfor %}
        </div>

        <div class="interview-submit">
            <button id="button" type="submit">Сгенерировать вопросы</button>
        </div>
    </form>
</main>
{% include 'template/footer.html' %}

</body>
</html>
