{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расписания - CourseMC</title>
    <link rel="stylesheet" href="{% static 'Course/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'Course/assets/favicon.ico' %}"
          type="image/x-icon">
</head>
<style>
    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }
</style>

<body onclick="closeAll()">
{% include 'template/header.html' %}

<section class="scheduleSection">
    <div class="title">
        <h2>Оплата занятий</h2>
        <p>*Сумма к оплате генерируется автоматически. Если вы с ней не
            согласны сообщите учителю.</p>
    </div>

    <div class="actions">
        <div>
            <h3>Количество уроков: <span>{{ amount_classes }}</span></h3>
            <h3>Количество пропусков: <span>{{ number_passes }}</span></h3>
            <h3>Стоимость урока: <span>{{ lesson_price }}₽</span></h3>
        </div>
        {% if cost_classes > 0 %}
            <form class="yoomoney-payment-form" style="height: 30px;"
                  action="{{ payment_url }}">
                <button data-text="Заплатить"
                        onclick="document.location = '{{ payment_url }}'">
                    Оплатить {{ cost_classes }}&nbsp;₽
                </button>
            </form>
        {% endif %}
        <script src="https://yookassa.ru/integration/simplepay/js/yookassa_construct_form.js"></script>
    </div>

    <h3 class="previosPayments">Предыдущие оплаты</h3>
    <div class="list billing"></div>

    <nav class="pagination-container">
        <button class="back">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </button>
        <div id="pagination-numbers"></div>
        <button class="next">
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>
    </nav>
</section>


<script>
    const box = document.querySelector('.list')

    const itemsMain = [
        {% for billing in billings %}
            {price: {{ billing.amount }}, date: '{{ billing.date }}'},
        {% endfor %}
    ].reverse()

    function setMark(elem) {
        if (elem === undefined) return ''
        if (elem === 'new') return 'Новая тема'
        if (elem === 'primary') return 'Ключевая тема'
    }

    box.innerHTML = itemsMain.map(item => (
        `<div id="dropdown" class="item">
                <h2>${item.price}₽</h2>
                <p>${item.date}</p>
            </div>`
    )).join(' ')
</script>
{% include 'template/footer.html' %}
</body>

</html>